<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {# bootstrap meta tags #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" integrity="sha256-piqEf7Ap7CMps8krDQsSOTZgF+MU/0MPyPW2enj5I40=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/v4-shims.min.css" integrity="sha256-aHZRnvSsxGjbzQYQxIPzq+cU+R1DrVwWhl1Y2vJmMk8=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/custom.css">
    <title>{% block title %}{% endblock %} - Hacker Jeopardy</title>
    {% block style %}{% endblock %}
    {% endblock %}
</head>
<body>
    {% block alerts %}{% endblock %}

    <div id="content">{% block content %}{% endblock %}</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

    {% block ui %}{% endblock %}
</body>
</html>
